<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}parker demo{% endblock %}</title>
    {% block script_setup %}
    <script src="http://mordechai.cei.cox.com/~adreyer/marimo/socket.io.js"> </script>
    <script src="http://mordechai.cei.cox.com/~adreyer/marimo/jquery-1.6.4.js" > </script>
    <script src="http://mordechai.cei.cox.com/~adreyer/marimo/mustache.js" > </script>
    <script src="http://mordechai.cei.cox.com/~adreyer/marimo/marimo.js" > </script>
    <script src="http://mordechai.cei.cox.com/~adreyer/marimo/realtime.js" > </script>
    <script language="javascript">marimo.init($);</script>
    {% endblock %}
</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
